@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(img/backgroundimg1920.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    object-fit: fill;
    overflow: hidden;
    height: 100vh;
    background-size: cover;
    transform: translateY(-90px);
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation-duration: 0.8s; 
    
}
*{
    animation-name: anim;
    animation-duration: 1.3s;
    font-family: 'Roboto', sans-serif;
}
.battondonate{
    position: absolute;
    background-color: black;
    border-radius:20px;
    padding: 10px ;
    border: 1px black solid ;
    box-shadow: 3px 2px 5px black;
    font-weight: 700;
    transition: 0.5s;
    transform: translateX(300px);
}
#txthight{
    color: black;
    font-weight: 700;
    position: absolute;
    transform: translate(300px,50px);
}
.battondonate:hover{
    transform: scale(0.95) translate(320px);;
}
#donatetxt{
    font-size: 19px;
    color: white;
    text-decoration: 0;
}
#inst{
    width: 50px;
    height: 50px;
}
#icon{
    display: flex;
    align-items: center;
}
#github{
    transform: translateY(30px);
    width: 70px;
    height: auto;
    border-radius: 20%;
}
#githover:hover{
    transform: scale(0.95);
}
#githover{
    transition: 0.5s;
}
#gittxt{
    color: rgb(188, 221, 221);
    transform: translateY(15px);
}
#distxt{
    color: blueviolet;
    font-weight: 700;
    text-decoration: 0;
}
#battondis{
    background-color: aqua;
    border-radius:20px;
    padding: 10px ;
    /* border: 1px black solid ; */
    box-shadow: 1px 2px 5px black;
    font-size: 19px;
    transition: 0.5s;
    transform: translateY(20px);
}
#battondis:hover{
    transform: scale(0.95) translateY(20px);
}
.back{
    color: blueviolet;
    font-weight: 700;
    transform: translateY(20px);
}
#discordname{
    padding: 1rem;
    text-decoration: underline
}
#gtenindent{
    text-indent: 10px;
}
span{
    font-size: large;
    font-weight: bold;
}
.txtfirstsite{
    color: rgb(235, 178, 240);
    font-weight: 700;
}
.socials{
    transition: 0.7s;
}
.socials:hover{
    transform: scale(0.95) skew(1deg);
}
.social_sise{
    width: 40px;
    height: 40px;
}
.main-social{
    border: 1px solid pink;
    min-height: 85px;
    width: 400px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    border-radius: 15px ;
    backdrop-filter: blur(11px);
    border-radius: 50px;
    box-shadow: 1px 1px 10px rgb(233, 225, 225);
}
td{
    font-weight: 500;
}
th{
    font-weight: bool;
}
.firstpic{
    width: 200px;
    border-radius: 50%;
    box-shadow: 4px 2px 2px  pink ;
}
.mainhead p{
    font-size: 30px;
}
.mainhead{
    color: rgb(188, 221, 221);
    transform: translateY(30px);
}
.main12{
    position: absolute;
}
hr{
    width: 300px;
    border-radius: 50%;
}
.second1{
    transform: translateY(10px);
    color: rgb(254, 224, 255);
    text-decoration: 0;
}
#dicordi{
    animation-name: transis;
    animation-duration: 1.5s;
    /* animation-iteration-count: infinite; */
}
@keyframes transis {
    0%{
        transform:translateY(300px);
    }
    
}
@keyframes anim {
    0%{
        transform: translateY(0px);
        opacity: 0;

    }
    50%{
        transform: translateY(0px);
        opacity: 0;
    }
    100%{
        opacity: 1;
    }    
}
